.rodape{
    text-align: center;
    color: rgb(0, 0, 0);
    margin-top: 50px;
}

.tex{
    text-align: center;
    font-family:Cursive;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

